version: '3'
services:
  api:
    build: .  # Construye la imagen usando el Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - WOMPI_PUBLIC_KEY=${WOMPI_PUBLIC_KEY}
      - WOMPI_PRIVATE_KEY=${WOMPI_PRIVATE_KEY}
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pagos_db
      MYSQL_USER: pagos_user
      MYSQL_PASSWORD: pagos_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    ports:
      - "8090:8080"
    depends_on:
      - db

volumes:
  db_data: